<!DOCTYPE html>
<html lang="en">
<head>
  <%- head %>

  <style type="text/css">
    <%- css.code %>
  </style>
</head>
<body class="container">
  <%- html %>

  <script src="bundle.js"></script>
</body>
</html>