-<!DOCTYPE html>
<html lang="en">
<head>
  {{{ head }}}

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <style type="text/css">
    {{{ css.code }}}
  </style>
</head>
<body class="container">
  {{{ html }}}

  <script src="bundle.js"></script>
  <script>
    {{{ hydration }}}

    document.addEventListener('DOMContentLoaded', () => {
      new window.page.default({
        hydrate: true
      })
    }, false);
  </script>
</body>
</html>