<!DOCTYPE html>
<html lang="en">
<head>
  {{{ head }}}

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

  {{#unless devMode}}
    <link rel="stylesheet" type="text/css" href="/bulma.css">
  {{/unless}}
  <style type="text/css">
    {{{ css.code }}}
  </style>
</head>
<body>
  <div id="app">{{{ html }}}</div>

  {{#unless devMode}}
    <script src="/ie11.js"></script> 
  {{/unless}}
  {{#if devMode}}
    <script src="/bulma.js"></script> 
  {{/if}}
  <script src="{{ sveltePageJs }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new window.page.default({
        target: document.getElementById('app'),
        hydrate: true
      })
    }, false);
  </script>

  {{#if devMode}}
    <script src="/reload/reload.js"></script>
  {{/if}}
</body>
</html>